/*
 * Copyright (c) 2023
 * Regis Rousseau
 * Univ Lyon, INSA Lyon, Inria, CITI, EA3720
 * SPDX-License-Identifier: Apache-2.0
 */

/* configuration of ADC for geophone sensor */
/* adjust channel number according to pinmux in board.dts */
/* PB13 ADC_GSONE -> ADC_IN0 - see datasheet Pinout Config pg 56/149 */

/ {
	zephyr,user {
		io-channels = <&adc1 0>;
	};
};

/* VBAT battery voltage monitoring - see datasheet pp 42/149 */
/* internal ADC channnel of STM32, IN14 */
/* ratio = 3 -> the converted digital value is 1/3 of vbat */
/ {
	stm32_vbat: stm32vbat {
    	compatible = "st,stm32-vbat";
    	io-channels = <&adc1 14>;
   		ratio = <3>;
    	status = "okay";
	};
};

/* channel IN0 configuration */
&adc1 {
	#size-cells = <0>;
	compatible = "st,stm32-adc";
	vref-channel = <13>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <1215>;
	};
	status = "okay";
};

/* enable the corresponding ADC for , with vbat the correct vref value (in mV) */
&adc1 {
	vref-channel = <13>;
	vbat-channel = <14>;
	vref-mv = <1215>;
	status = "okay";
};

/* config of BME280 sensor (temperature and Humidity) on i2c bus */
/* address 0x77 --> Address Chip Select on high level (VDD) */

&i2c1 {
	status = "okay";
	bme280@77 {
		compatible = "bosch,bme280";
		reg = <0x77>;
	};
};